In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('Iris.csv')

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
set(data['Species'])

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [6]:
mapping = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}

In [7]:
data['Sp_Numeric'] = data['Species'].apply(lambda x: mapping[x])

In [8]:
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sp_Numeric
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [9]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'Sp_Numeric'],
      dtype='object')

In [11]:
data_proc = data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 
                  'PetalWidthCm', 'Sp_Numeric']]

In [12]:
data_proc.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Sp_Numeric
0            5.1           3.5            1.4           0.2           0
1            4.9           3.0            1.4           0.2           0
2            4.7           3.2            1.3           0.2           0
3            4.6           3.1            1.5           0.2           0
4            5.0           3.6            1.4           0.2           0

In [14]:
X = data_proc[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 
                  'PetalWidthCm']]
y = data_proc['Sp_Numeric']

In [35]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.4, random_state=32,
                                                   stratify=y)

In [36]:
train_x.shape

(90, 4)

In [37]:
train_y.shape

(90,)

In [38]:
test_x.shape

(60, 4)

In [39]:
test_y.shape

(60,)

In [40]:
logreg = LogisticRegression()

In [41]:
logreg.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [42]:
yhat = logreg.predict(test_x)

In [43]:
accuracy_score(yhat, test_y)

0.9333333333333333

In [44]:
yhat_train = logreg.predict(train_x)

In [45]:
accuracy_score(yhat_train, train_y)

0.9555555555555556